.delete_background {
    width: 85vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 57.5%;
    transform: translate(-50%, -50%);

    background: url(../img/modification.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 99;
}

.delete_container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    justify-content: center;
    align-items: center;

    /* border: 1px solid #ddd; */
    border-radius: 10px;
    background-color: #c5caf2;

    width: 400px;
    height: 300px;

    padding: 30px;
    box-sizing: border-box;

    z-index: 100;
}


.delete_container h2 {
    text-align: center;
    margin-bottom: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.delete_btns {
    width: inherit;
    display: flex;
    justify-content: space-evenly;
}

.delete_btns .delete_cancel,
.delete_btns .delete_submit {
    text-decoration: none;
    background-color: #757CFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px 40px;
    cursor: pointer;
}
