.registration_background {
    width: 85vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 15vw;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    z-index: 2;
}

.registration_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* border: 1px solid #ddd; */
    border-radius: 10px;
    background-color: #c5caf2;

    width: 600px;
    height: 500px;

    padding: 30px;
    box-sizing: border-box;

    z-index: 3;
}


.registration_container h2 {
    text-align: center;
    margin-bottom: 60px;

}

.registration_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registration_form .registration_textbox {
    width: 300px;
    height: 30px;

    margin-bottom: 10px;
}

.registration_form select {
    width: 300px;
    height: 30px;
    padding: 3px 2px;
    box-sizing: content-box;
}

.registration_photo {
    display: flex;
    align-items: center;
    width: 300px;
    height: 30px;
    border: 1px solid #4F4F4F;
    padding: 3px;
    border-radius: 3px;
    margin-bottom: 20px;
}

.registration_btns {
    width: 330px;
    display: flex;
    justify-content: space-evenly;
}

.registration_btns .registration_cancel,
.registration_btns .registration_submit {
    text-decoration: none;
    background-color: #757CFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px 40px;
    cursor: pointer;
}