.main {
    position: relative;
    width: 85vw;
    height: 100vh;
    background-color: #fff;
    padding: 12.5vw;
    box-sizing: border-box;
}

h1 {
    position: absolute;
    filter: drop-shadow(4px, 4px, 10px, rgb(0, 0, 0));
    top: 10%;
    font-size: 24px;
}

.table {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translatex(-50%);

    width: 60vw;
    height: 10vh;

    background-color: red;
}

.btns {
    display: flex;
}

.registerButton {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
    cursor: pointer;
}

.searchContainer {
    display: absolute;
    margin-left: auto;
}

.searchInput,
.searchDropdown,
.searchButton {
    border-radius: 7px;
    padding: 10px;
    margin-left: 20px;
    border: 1px solid #ddd;
}

.searchInput::after {
    content: ;
    width: 10px;
    height: 10px;
}

.table th,
.table td {
    padding: 10px;
}

.table th {
    background-color: #ddd;
}
