.topmain {
    position: absolute;
    
    width: calc(85vw - 130px);
    height: 100vh;
    left: 15vw;
    padding-left: 20px;
    padding-right: 110px;

    background-color: lightgray;
    backdrop-filter: blur(5px);

    overflow: auto;
}


.main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* 자동 줄바꿈 */
    align-items: start;
    row-gap: 30px;
    column-gap: 20px;
}

/* head 및 topmenu */
.headline {
    position: absolute;

    top : 50px;
    left: 110px;
    font-size: 40px;
}

/* 과정등록 */
.register {
    position: fixed;

    top: 150px;
    left: 105px;

    width: 120px;
    height: 50px;

    background-color: #757CFF;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
    cursor: pointer;
}
.search {
    position: absolute;
    display: flex;

    right: 80px;
    top: 150px;
    width: 50%;
    height: 50px;

}

.drop1, .drop2 {
    position: relative;;
    margin-right: 1%;
    left: 55%;
    width: 8%;
    height: 35px;
    

    background-color: white;
    
    padding: 5px;
}

.search_bar {
    position: relative;

    width: 25%;
    height: 35px;

    left: 55%;
    background-color: white;
    border: none;
}

.icon {
    position: absolute;
    top: 14%;
    right: 14px;

    background-color: transparent;
    border: none;
    cursor: pointer;

    color: black;
    font-size: 1rem;
}

/* contentsBox */


.allContents {
    position: relative;

    top: 260px;
    left: 85px;
    display: grid;

    margin: 0;

    width: 250px;
    height: 250px;

    background-color: white;
}


/* categorybar 컬러 */

.fullstackcolor {
    display: grid;

    background-color: #f08080;
}

.frontendcolor {
    display: grid;

    background-color: rgb(211, 249, 96);
}

.backendcolor {
    display: grid;

    background-color: yellow;
}

/* ////////////////////////////////////////////////// */


.imgbox {
    position: relative;
    display: flex;

    margin: 5% 5% 0 5%;

    width: 90%;
    height: 80%;

    background-color: pink;
    
}

.imgbox img {
    position: relative;
    width: 100%;
    height: auto;
}

.state {
    position: absolute;

    right: 8%;
    bottom: 52%;

    width: 20%;
    
    background-color: navy;
    color: white;
}

.contentstextbody {
    position: relative;
    bottom: 17px;
    margin-top: 0;
}

.courseName {
    position: relative;
    width: 98%;
    padding-left: 10px;
    margin-bottom: 0;

    text-align: left;

}

.contentsfooter {
    position: relative;
    display: flex;

    width: 100%;
    height: 100%;
    
}


.date {
    margin-top: 5px;
    padding-left: 10px;
    padding-bottom: 10px;

    text-align: left;
}

.contentsfooter {
    display: flex;
    align-items: center;


    width: 100%;
    height: 30px;

    background-color: beige;
}

.instructorname {
    position: relative;
    padding-left: 5px;
    width: 50%;
}

.instructor {
    
    margin-left: 5px;
    width: 30%;

}

.capacity {
    position: relative;
    margin-left: 50px;
    margin-right: 7px;
    padding-bottom: 4px;
    width: 17%;
    height: auto;
}


/* 팝업 ================================================*/


.topbox{
    position: relative;
    display: flex;
    width: 70%;
    height: 70%;

    bottom: 50%;

    border-radius: 10px;

    margin-bottom: 50px;
    
    background-color: pink;

    box-shadow: 4px 4px 10px rgb(131, 0, 0);

    z-index: 99;
}
/* ============================2 */
.top_leftbox{
    position: relative;

    width: 40%;
    height: 100%;

    display: flex;
    justify-content: center;
}

.backbutton{
    position: absolute;
    top :20px;
    left: 20px;
    
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 50%;

    cursor: pointer;

    z-index: 99;
}

.imgbox2{
    position: relative;

    width : 80%;
    height: 40%;
    
    top: 16%;
    right: 8%;

    border-radius: 6px;

    background-image: url('./img/sample1.avif') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.buttonbox{
    position: absolute;
    width : 100%;
    height : 30%;

    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

    /* background-color: white; */
}

.regist_button {
    width: 20%;
    height: 30%;

    border: none;
    border-radius: 5px;

    background-color: rgb(252, 174, 174);

    cursor: pointer;
}

.modify_button{
    width: 20%;
    height: 30%;

    border: none;
    border-radius: 5px;

    background-color: rgb(252, 174, 174);

    cursor: pointer;
}

.delete_button{
    width: 20%;
    height: 30%;
    
    border: none;
    border-radius: 5px;

    background-color: rgb(252, 174, 174);

    cursor: pointer;
}
/* ============================2 */

.top_rightbox{
    width: 60%;
    height: 100%;

    justify-items: center;
}

.inputboxes{
    position: relative;
    width: 100%;
    height: 60%;

    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2열 정렬 */
    gap: 20px; /* 요소 간 간격 */

    justify-items: center;
    align-content: center;

}