/* 

컬러

노랑 - #F2C879

내부 글씨 1.2rem, #221e1f
padding 10px 20px


*/
.topmain {
    position: relative;
    
    /* ============= 레이아웃 ============ */
    width: calc(85vw - 40px);
    min-height: 100vh;
    left: 15vw;
    right: 0;
    padding-left: 20px;
    padding-right: 20px;

    /* ================================= */
    background-color: #F5F5F5;
    backdrop-filter: blur(5px);

    overflow: auto;
}


.main {
    /* ============= 레이아웃 ============ */
    width: 90%;
    min-height: 100%;
    height: auto;
    /* ================================= */
    
    padding-right: 10vw;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* 자동 줄바꿈 */
    align-items: start;
    

    row-gap: 50px;
    column-gap: 20px;

    background-color: #F5F5F5;

    z-index: 20;
}

/* head 및 topmenu */
.headline {
    position: absolute;

    top : 50px;
    left: 110px;
    filter: drop-shadow(0 4px 4px rgba(34, 30, 31, 0.4));
    font-size: 36px;
    font-weight: bold;
}

/* 과정등록 */
.register {
    position: fixed;

    top: 150px;
    left: 105px;

    width: 120px;
    padding: 11px 20px;

    background-color: #ebbb41;
    border: none;
    border-radius: 7px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);

    font-size: 1rem;
    cursor: pointer;
}

.search {
    position: absolute;
    display: flex;

    right: 160px;
    top: 150px;
    width: 50%;
    height: 50px;
}

.drop1, .drop2 {
    position: relative;
    margin-right: 10px;
    padding: 10px;
    left: 55%;
    height: 40px;
    font-size: 1rem;

    border: 1px solid  #edc12e;
    background-color:#F5F5F5;

    border-radius: 5px;
}

.search_bar {
    position: relative;

    width: 25%;
    height: 40px;

    left: 55%;
    font-size: 1rem;
    padding: 10px;
    box-sizing: border-box;
    background-color: #F5F5F5;
    
    border: 1px solid  #edc12e;
    border-radius: 5px;
}

.icon {
    position: absolute;
    top: 18%;
    right: 1%;


    background-color: transparent;
    border: none;
    cursor: pointer;

    color: #7d7c7c;;
    font-size: 1rem;
}

.allContentsBox {
    position: relative;

    top: 250px;
    left: 85px;
}

.allContentsBox:hover {
    position: relative;

    width: 250px;
    height: 250px;

    box-shadow: 
    6px 15px 15px #edc12e;
}

.contentsBox {
    position: relative;

    display: grid;

    width: 250px;
    height: 250px;
    border-radius: 5px;

    background-color: #fedfa9;

    transition: transform 0.3s ease; 

    z-index: 10;
}


.category {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 10px;
    box-shadow: none !important; 
}

/* ////////////////////////////////////////////////// */


.imgbox {
    position: relative;
    display: flex;

    margin: 5% 5% 0 5%;

    width: 90%;
    height: 80%;

    border-radius: 7px;
    box-shadow: none !important; 
    
}

.imgbox img {
    position: relative;
    width: 100%;
    height: auto;

    box-shadow: none !important; 
}

.state {
    position: relative;

    left: 150px;
    bottom: 55px;

    width: 30%;
    text-align: center;
    padding: 2px 0;
    box-sizing: border-box;
    
    background-color: #BF0700;
    border: 1px solid #f9c771;
    color: #F5F5F5;
    border: 1px solid #F5F5F5;
    border-radius: 5px;

    box-shadow: none !important; 
}

.contentsbody {
    position: relative;
    bottom: 35px;
    margin-top: 0;
    box-shadow: none !important; 
}

.courseName {
    position: relative;
    width: 98%;
    padding-left: 14px;
    margin-bottom: 0;

    text-align: left;
    box-shadow: none !important; 

}

.date {
    
    margin-top: 5px;
    padding-left: 14px;
    padding-bottom: 10px;

    text-align: left;
    box-shadow: none !important; 
}

.contentsfooter {
    position: relative;
    display: flex;
    align-items: center;

    padding: 5px 10px;

    width: 100%;
    height: 30px;
    bottom: 40px;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-sizing: border-box;
    background-color: #f4f4b1;
    box-shadow: none !important; 
}

.instructorname {
    position: relative;
    padding-left: 5px;
    width: 50%;

    box-shadow: none !important; 
}

.instructor {
    
    margin-left: 5px;
    width: 30%;

    box-shadow: none !important; 
}

.capacity {
    position: relative;
    margin-left: 50px;
    margin-right: 7px;
    width: 17%;
    height: auto;

    box-shadow: none !important; 
}

