/* 

컬러

노랑 - #F2C879

내부 글씨 1.2rem, #221e1f
흰색 대체 - #F5F5F5;

padding 10px 20px


*/

.main{
    position: fixed;

    top: 0;
    left:15vw;

    width: 85vw;
    height: 100vh;

    display: flex;
    flex-direction: row;

    align-items : center;
    justify-content: center;

    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);

    border-radius: 4px;

    z-index: 21;
}

.container{

    width: 70%;
    height: 70%;

    display: flex;
    flex-direction: row;

    background-color: #f5dbab;
    border-radius: 7px;

    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);

    z-index: 30;
    
}
/* =========================================================== */

.titletext{
    position: relative;
    top: 30px;

    width: 200px;
    height: 70px;

    font-size: 2rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

    margin: 10px 0 50px 20px;
}

.leftbox{
    position: relative;

    width: 50%;
    height: 100%;

    bottom: 10px;

    justify-items: center;
    /* left: 2%; */
}

.dropdown{
    position: relative;

    bottom: 40px;
    width: 300px;
    height: 65px;

    right: 70px;
    align-content: center;

    background-color: transparent;
    border-radius: 4px;

    margin-bottom: 40px;

    font-size: 1.2rem;
    
    padding-left: 10px;
}

.select {
    position: relative;
    
    left: 20px;

    padding: 5px 20px;

    text-align: center;

    border: none;
    border-radius: 7px;

    background-color: #f5a510;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
}

.inputcontainer{
    position: relative;

    bottom: 45px;
    width: 430px;
    height: 65px;

    align-content: center;


    border-bottom: 1px solid #221e1f;
    
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.inputbox{
    width: 450px;
    height: 40px;

    border: none;
    background: transparent; 
    outline: none; 
    font-size: 1.35rem;

    /* border-bottom: 1px solid black; */

}

.datebox {
    position: relative;
    display: flex;
}

.dateinputcontainer1{
    position: relative;

    bottom: 45px;
    width: 205px;
    height: 65px;

    margin-right: 10px;
    align-content: center;


    border-bottom: 1px solid #221e1f;
    
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.dateinputcontainer2{
    position: relative;

    bottom: 45px;
    width: 205px;
    height: 65px;

    margin-left: 10px;
    align-content: center;


    border-bottom: 1px solid #221e1f;
    
    margin-bottom: 20px;
    font-size: 1.2rem;
}


.dateinputbox{
    width: 215px;
    height: 40px;

    border: none;
    background: transparent; 
    outline: none; 
    font-size: 1.35rem;

}
/* =========================================================== */

.rightbox{
    position: relative;

    bottom: 10px;
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.file{
    position: relative;
    width: 300px;
    height: 30px;

    right: 100px;
    top: 10px;
    margin-top: 100px;
    margin-bottom: 30px;

    align-content: center;

    font-size: 1rem;

    background: transparent; 

}

.contentboxheadline{
    position: relative;

    top: 15px;

    font-size: 1.2rem;
    
    right: 215px;
    
}

.contentbox{
    position: relative;

    top: 12px;
    width: 450px;
    height: 290px;

    right: 22px;
    border-radius: 4px;

    border:none;
    outline: none;

    background-color: white;
    opacity: 60%;
}

.buttonbox{
    position: relative;
    
    top: 10px;
    right: 20px;
    width: 300px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.savebutton{
    width: 100px;
    height: 40px;

    border:none;
    cursor: pointer;

    border-radius: 4px;
    background-color: white;

    transition: all 0.3s ease;
}

.savebutton:hover {
    transform: translateY(5px);
    box-shadow: 0px 4px 5px #fcbe49;
}

.cancelbutton{
    width: 100px;
    height: 40px;

    border:none;
    cursor: pointer;

    border-radius: 4px;
    background-color: white;

    transition: all 0.3s ease;
}

.cancelbutton:hover {
    transform: translateY(5px);
    box-shadow: 0px 4px 5px #fcbe49;
}