/* 

컬러

노랑 - #F2C879

내부 글씨 1.2rem, #221e1f
흰색 대체 - #F5F5F5;

padding 10px 20px


*/

.main{
    position:absolute;

    left:15vw;

    width: 85vw;
    height: 100vh;

    display: flex;
    flex-direction: row;

    align-items : center;
    justify-content: center;

    background-color: #F5F5F5;

    border-radius: 4px;
}

.container{

    width: 70%;
    height: 70%;

    display: flex;
    flex-direction: row;

    background-color: #F2C879;
    border-radius: 7px;

    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    
}
/* =========================================================== */

.titletext{
    position: relative;
    top: 50px;

    width: 200px;
    height: 70px;
    font-size: 2rem;

    margin: 10px 0 50px 25px;
}

.leftbox{
    position: relative;

    width: 50%;
    height: 100%;

    justify-items: center;
    /* left: 2%; */
}

.dropdown{
    width: 300px;
    height: 65px;

    align-content: center;

    background-color: rgb(251, 243, 235);
    border-radius: 4px;

    margin-bottom: 40px;

    font-size: 1.2rem;
    padding-left: 10px;
}

.inputcontainer{
    width: 450px;
    height: 65px;

    align-content: center;

    background-color: green;

    border-radius: 4px;
    
    margin-bottom: 20px;
}

.inputbox{
    width: 450px;
    height: 40px;

    border: none;
    background: transparent; 
    outline: none; 

    /* border-bottom: 1px solid black; */

}
/* =========================================================== */

.rightbox{
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.file{
    width: 300px;
    height: 65px;

    margin-top: 100px;

    background-color: blue;

    border-radius: 4px;

    margin-bottom: 30px;
}

.contentbox{
    width: 500px;
    height: 400px;

    border-radius: 4px;

    border:none;
    outline: none;

    background-color: purple;
}

.buttonbox{
    width: 300px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.savebutton{
    width: 100px;
    height: 40px;

    border:none;
    cursor: pointer;

    border-radius: 4px;
    background-color: white;
}

.cancelbutton{
    width: 100px;
    height: 40px;

    border:none;
    cursor: pointer;

    border-radius: 4px;
    background-color: white;
}