.main{
    position:absolute;
    width: 60vw;
    height: 60vh;

    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    display: flex;
    flex-direction: row;

    background-color: rgb(42, 84, 90);

    border-radius: 4px;
}

/* =========================================================== */
.leftbox{
    position: relative;

    width: 40%;
    height: 100%;

    left: 2%;
}

.titletext{
    width: 200px;
    height: 70px;

    align-content: center;

    /* background-color: orange; */

    margin: 10px 0 50px 0;
}

.dropdown{
    width: 300px;
    height: 65px;

    align-content: center;

    background-color: yellow;

    border-radius: 4px;

    margin-bottom: 40px;
}

.inputcontainer{
    width: 450px;
    height: 65px;

    align-content: center;

    background-color: green;

    border-radius: 4px;
    
    margin-bottom: 20px;
}

.inputbox{
    width: 450px;
    height: 40px;

    border: none;
    background: transparent; 
    outline: none; 

    /* border-bottom: 1px solid black; */

}
/* =========================================================== */

.rightbox{
    width: 60%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.file{
    width: 400px;
    height: 100px;

    margin-top: 100px;

    background-color: blue;

    border-radius: 4px;

    margin-bottom: 30px;
}

.contentbox{
    width: 500px;
    height: 350px;

    border-radius: 4px;

    border:none;
    outline: none;

    background-color: purple;
}

.buttonbox{
    width: 300px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.savebutton{
    width: 100px;
    height: 40px;

    border:none;
    cursor: pointer;

    border-radius: 4px;
    background-color: white;
}

.cancelbutton{
    width: 100px;
    height: 40px;

    border:none;
    cursor: pointer;

    border-radius: 4px;
    background-color: white;
}