.tableHeader {
    display: flex;
    position: relative;
    padding-bottom: 30px;
    justify-content: space-evenly;

    font-weight: 600;
}
/* //////////////////////////////////////////////////////////////////////////////// */

.scroolContainer{
    position: relative;

    height: 250px;
    overflow-y: auto;
    border: 1px solid black;
    padding: 10px;
    scrollbar-width: none; /*  스크롤바 숨기기 */
}

.item{
    height: 50px;
    background: #ddd;
    margin: 5px 0;

    display: flex; 
    justify-content: center;
    align-items: center;

    /* line-height: 50px; */
}

.itembtn{
    position: relative;
    width: 30px;
    height: 40px;
    background: #ddd;

    display: flex; 
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.itemicon{
    font-size: 20px;
}

.empty{                     /* 감지 요소 */
    height: 20px;       
    background: transparent;
}


/* /////////////////////////////////////////// */

.infoModal {
    position: absolute;
    top: 0;  /* 부모 컨테이너의 top에 맞춰서 배치 */
    left: 0;  /* 부모 컨테이너의 left에 맞춰서 배치 */
    width: 100%;  /* scroolContainer의 너비와 같게 */
    height: 100%; /* scroolContainer의 높이와 같게 */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10; /* 다른 요소보다 위에 표시 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
  
  /* 모달 닫기 버튼 */
  .infoModal button {
    background-color: #ff5555;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
  }